body {
  font-family: sans-serif;
  line-height: 1.5;       
  color: #333;            
  background-color: #fff; 
}

.navbar ul {
    background-image: linear-gradient(to right, #ebf093, #f8ff79 , #eeb8e4, #ee81ce,#ee81ce);
     list-style-type: none;   
     justify-content: space-between; 
 top: 0;
 left:0;
 right:0;
 width: 100%;
 margin:0;
 padding:0;      
 overflow : hidden;
}

.navbar li {
  float: right;

}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {

  color:black;
}